{% extends 'base.html' %}
{% block content %}
<!--login user verification-->
<dialog id="loginUserDialog" >
    <header>
        <h2>Item Catalog</h2>
        <h3>Sing in</h3>
        <button class="closeButton" id="closeBtn1" aria-label="close" formnovalidate>X</button>
    </header>
    <article>
        <table>
            <tr>
                <td>
                    <!--<button type="button">Sign in with google old</button>-->
                    <div id="g_id_onload"
                        data-client_id="72905922890-r2f8ni99p9p5pdk5n15q465ki06hvb9b.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-login_uri="https://localhost:8000/login/callback/google"
                        data-auto_prompt="false">
                    </div>
                    <div class="g_id_signin"
                         data-type="standard"
                         data-shape="pill"
                         data-theme="outline"
                         data-text="signin_with"
                         data-size="large"
                         data-locale="en-US"
                         data-logo_alignment="left">
                    </div>
                </td>
            </tr>
            <tr>
                <td>____________o____________</td>
            </tr>
            <tr>
                <td><input type="text" name='username_or_email' id ='username_or_email' placeholder="username or email"></td>
            </tr>
            <tr>
                <td><button class="tbn" id="nextBtn">Next</button></td>
            </tr>
        </table>
    </article>
    <footer>
          Don't have an account? <a href="">Sign Up</a>  
    </footer>
</dialog>

<!--login pswd verification-->
<dialog id="loginPswdDialog" >
    <header>
        <h2>Item Catalog</h2>
        <h3>Sing in</h3>
        <button class="closeButton" id="closeBtn2" aria-label="close" formnovalidate>X</button>
    </header>
    <article>
        <table>
            <tr>
                <td><input type="text" name='username' id ='username' disabled></td>
                <div id="salt" hidden></div>
            </tr>
            <tr>
                <td><input type="text" name='pswd' id ='pswd' placeholder="password"></td>
            </tr>
        </table>
        <a href="">forgot password?</a>
    </article>
    <footer>
        <table>
            <tr>
                <td><button class="tbn" id="loginBtn">login</button></td>
            </tr>
            <tr>
                Don't have an account? <a href="">Sign Up</a>  
            </tr>
        </table>
    </footer>
</dialog>

<!--shows login status messages if exist-->
<div id="loginStatusMsgs" style="display: none;"></div>
{% endblock %}