<!-- login dialog -->
{% extends 'base.html' %}
={% block content %}
<dialog id="loginDialog" >
    <form action="{{url_for('login')}}" method="post">
        <header>
            <h3>Sing in</h3>
            <button id="closeButton" aria-label="close" formnovalidate>X</button>
        </header>
        <article>
            <table>
                <tr>
                    <td><button type="button">Sign in with google</button></td>
                </tr>
                <tr>
                    <td>____________o____________</td>
                </tr>
                <tr>
                    <td><input type="text" name='username_or_email' placeholder="username or email"></td>
                </tr>
                <tr>
                    <td><button type="submit">Next</button></td>
                </tr>
            </table>
        </article>
        <footer>
              Don't have an account? <a href="">Sign Up</a>  
        </footer>
    </form>
</dialog>
{% endblock %}


<!--input password dialog-->
