<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Menu Item</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!--local CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
    <!--local js-->
</head>
<body>
    <hgroup class="card text-center card-body border-0">
        <h1 class="card-title border-0">Delete Menu Item</h1>
        <h2 class="card-title">{{restaurant.name}}</h2>
    </hgroup>
    
    <nav class="nav-options">
        <ol>
            <li class="nav-option">
                <h3>
                    <img src="{{url_for('static',filename='icons/restaurant.svg')}}">
                    <a href="{{url_for('restaurants')}}">Home</a> 
                </h3>
            </li>
            <li class="nav-option"><h3><a href="{{url_for('menuRestaurant',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></h3></li>
            <li class="nav-option"><h3>Del</h3></li>
        </ol>
    </nav>

    <main class="edit-restaurant">
        <p>Are you sure you want to delete {{item.name}} ?</p>
        <form action="{{url_for('deleteMenuItem',restaurant_id=item.restaurant_id, menuitem_id=item.id)}}" method="post">
            <menu class="restaurant-options card-body text-center">
                <!--buttons for edit and cancel menu item-->
                <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                <a href="{{url_for('menuRestaurant',restaurant_id=restaurant.id)}}">
                    <button type="button" class="btn btn-secondary btn-sm">Cancel</button>
                </a>
            </menu>
        </form>
    </main>
</body>
</html>