<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Restaurant</title>
</head>
<body>
    <header>
        <h1>Delete Restaurant</h1>
    </header>
    
    <nav>
        <ol>
            <li><h3><a href="{{url_for('restaurants')}}">Home</a></h3></li>
            <li><h3>Delete Restaurant</h3></li>
        </ol>
    </nav>

    <main>
        <p>Are you sure you want to delete {{restaurant.name}} ?</p>
        <form action="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}" method="post">
            <input type="submit" value="Delete">
        </form>
    </main>
    
</body>
</html>