<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Menu Item</title>
</head>
<body>
    <hgroup>
        <h1>Delete Menu Item</h1>
        <h2>{{restaurant.name}}</h2>
    </hgroup>
    
    <nav>
        <ol>
            <li><h3><a href="{{url_for('restaurants')}}">Home</a></h3></li>
            <li><h3><a href="{{url_for('menuRestaurant',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></h3></li>
            <li><h3>Delete</h3></li>
        </ol>
    </nav>

    <main>
        <p>Are you sure you want to delete {{item.name}} ?</p>
        <form action="{{url_for('deleteMenuItem',restaurant_id=item.restaurant_id, menuitem_id=item.id)}}" method="post">
            <input type="submit" value="Delete">
        </form>
    </main>
</body>
</html>