<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
</head>
<body>
    <hgroup>
        <h1>{{restaurant.name}}</h1>
        <h2>Menu</h2>
    </hgroup>

    <nav>
        <ol>
            <li><h3><a href="{{url_for('restaurants')}}">Home</a></h3></li>
            <li><h3>{{restaurant.name}}</h3></li>
        </ol>
    </nav>

    <main>
        <section>
            <nav>
                <h3>
                    <a href="{{url_for('newMenu', restaurant_id=restaurant.id)}}">
                        <button type="button">New Menu Item</button>
                    </a>
                </h3>
            </nav>
        </section>

        <section>
            {%with messages = get_flashed_messages()%}
            {%if messages%}
                <ul>
                    {%for message in messages%}
                        <li>{{message}}</li>
                    {%endfor%}
                </ul>
            {%endif%}
            {%endwith%}
        </section>

        <section>
            <form action="" method="post">
                <label for="filter_by">Filter By Course:</label>
                <select>
                    <option value="All">All</option>
                    <option value="Entree">Entree</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Beverage">Beverage</option>
                    <option value="Appetizer">Appetizer</option>
                </select>
            </form>    
        </section>

        {%if menu|length == 0%}
            <section>
                <p>You currently have no menu item</p> 
            </section>
        {%else%}
            <section>
                {%for course in ['Entree','Dessert','Beverage','Appetizer']%}
                    <article>
                        <div><h3>{{course}}</h3></div>
                        {%for item in menu%}
                            {%if item.course == course%}
                                <article>
                                    <div>
                                        <span><p>{{item.name}}</p></span>
                                        <span><p>{{item.price}}</p></span> 
                                    </div>
                                    <div>
                                        <p>{{item.description}}</p>
                                    </div>
                                </article>
                                <menu>
                                    <li>
                                        <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menuitem_id=item.id)}}">
                                            <button type="button">Edit</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menuitem_id=item.id)}}">
                                            <button type="button">Delete</button>
                                        </a>
                                    </li>
                                </menu> 
                            {%endif%}
                        {%endfor%}
                    </article>
                    <br><br>
                {%endfor%}   
            </section>
        {%endif%}
    </main>
</body>
</html>