<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
</head>
<body>
    <hgroup>
        <h1>{{restaurant.name}}</h1>
        <h2>Menu</h2>
    </hgroup>

    <nav>
        <ol>
            <li><h3><a href="{{url_for('restaurants')}}">Home</a></h3></li>
            <li><h3>{{restaurant.name}}</h3></li>
        </ol>
    </nav>

    <main>
        <section>
            <nav>
                <h3>
                    <a href="{{url_for('newMenu', restaurant_id=restaurant.id)}}">
                        <button type="button">New Menu Item</button>
                    </a>
                </h3>
            </nav>
        </section>

        <section>
            Add a Filter by option:
            Course: all , appetizer , entree, desert, beverage
        </section>

        {%if menu|length == 0%}
            <section>
                You currently have no menu item 
            </section>
        {%endif%}

        <section>
            <menu>
                <!--Iteration over each menu item-->
                {%for item in menu:%}
                    <article>
                        <article>
                            <div>
                                <span><p><h3>{{item.name}}</h3></p></span>
                                <span><p>{{item.price}}</p></span> 
                            </div>
                            <div>
                                <p>{{item.description}}</p>
                            </div>
                        </article>
                        
                        <menu>
                            <li>
                                <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menuitem_id=item.id)}}">
                                    <button type="button">Edit</button>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menuitem_id=item.id)}}">
                                    <button type="button">Delete</button>
                                </a>
                            </li>
                        </menu>                  
                    </article>
                    <br>
                {%endfor%}
            </menu>
        </section>
        
    </main>
</body>
</html>