<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant</title>
</head>
<body>
    <header>
        <h1>Add New Restaurant</h1>
    </header>

    <nav>
        <ol>
            <li><h3><a href="{{url_for('restaurants')}}">Home</a></h3></li>
            <li><h3>New Restaurant</h3></li>
        </ol>
    </nav>

    

    <main>
        <form action="{{url_for('newRestaurant')}}" method="post">
            <label for="new_restaurant">Restaurant name: </label>
            <input type="text" size="31" name="new_restaurant">
            <input type="submit" value="Create">
        </form>
    </main>
</body>
</html>