<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!--local CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <hgroup class="card text-center card-body border-0">
        <h1 class="card-header border-0">Restaurants</h1>
        <h2 class="card-title">List</h2>
    </hgroup>

    <nav class="nav-options">
        <ol>
            <li class="nav-option">
                <h3>
                    <img src="{{url_for('static',filename='icons/restaurant.svg')}}">
                    <span>Home</span> 
                </h3>
            </li>
        </ol>
    </nav>

    <main>
        <section class="new-restaurant">
            <nav>
                <h3>
                    <a href="{{url_for('newRestaurant')}}">
                        <button type="button" class="btn btn-secondary btn-sm">New Restaurant</button>
                    </a>
                </h3>
            </nav>
        </section>
        
        <section>
            {%with messages = get_flashed_messages()%}
            {%if messages%}
                <ul>
                    {%for message in messages%}
                        <li>{{message}}</li>
                    {%endfor%}
                </ul>
            {%endif%}
            {%endwith%}
        </section>
        
        <section>
            <menu class="all-restaurant">
                <!--Iteration over each restaurant-->
                {%for restaurant in restaurants:%}
                    <div class="single-restaurant card text-center">
                        <span class="restaurant-name card-header">
                            <a href="{{url_for('menuRestaurant',restaurant_id=restaurant.id)}}">
                                {{restaurant.name}}
                            </a>
                        </span>
                        <menu class="restaurant-options card-body">
                            <li class="restaurant-option">
                                <a href="{{url_for('editRestaurant',restaurant_id=restaurant.id)}}">
                                    <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                                </a>
                            </li>
                            <li class="restaurant-option">
                                <a href="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}">
                                    <button type="button" class="btn btn-secondary btn-sm">Delete</button>
                                </a>
                            </li>
                        </menu>
                    </div>
                {%endfor%}
            </menu>
        </section>
        
    </main>

</body>
</html>