<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    <header>
        <h1>Restaurant List</h1>
    </header>

    <nav>
        <ol>
            <li><h3>Home</h3></li>
        </ol>
    </nav>

    <main>
        <section>
            <nav>
                <h3>
                    <a href="{{url_for('newRestaurant')}}">
                        <button type="button">New Restaurant</button>
                    </a>
                </h3>
            </nav>
        </section>
        
        <section>
            <menu>
                <!--Iteration over each restaurant-->
                {%for restaurant in restaurants:%}
                    <div>
                        <span>
                            <a href="{{url_for('menuRestaurant',restaurant_id=restaurant.id)}}">
                                {{restaurant.name}}
                            </a>
                        </span>
                        <menu>
                            <li>
                                <a href="{{url_for('editRestaurant',restaurant_id=restaurant.id)}}">
                                    <button type="button">Edit</button>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}">
                                    <button type="button">Delete</button>
                                </a>
                            </li>
                        </menu>
                    </div>
                {%endfor%}
            </menu>
        </section>
        
    </main>

</body>
</html>